/* You can add global styles to this file, and also import other style files */
nav a.active {
    color: blueviolet;
}

.items li.selected {
    background-color: blue;
    color: black;
    width: fit-content;
}