/* You can add global styles to this file, and also import other style files */
nav a.active {
    color: blueviolet;
}

.items li.selected {
    background-color: blue;
    color: black;
    width: fit-content;
}

.anchor {
    background-color:darkgray;
    border: 3px solid #777;
    border-radius: 6px;
  }